@import "src/styles.scss";

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__chip {
        margin: 1rem 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            color: $clr-accent--primary;
        }

        h2 {
            font-family: $ff--primary;
            font-size: $fs--extra-large;
            font-weight: $fw--regular;
            color: $clr--primary;

            margin-bottom: 2rem;
        }

        p {
            font-family: $ff--primary;
            font-size: $fs--medium;
            font-weight: $fw--regular;
            color: $clr--secondary;
        }
    }

    &__list {
        padding: 1rem 0;

        &__project {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            background: $clr-background--dark;

            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            border: $bw--thin solid $clr--secondary;
            border-radius: $br--wide;
            transition: all 0.2s ease-in-out;

            &:hover {
                border: $bw--thin solid $clr-accent--secondary;
            }

            &__image {
                width: 100%;
                border-top-left-radius: $br--wide;
                border-top-right-radius: $br--wide;
            }

            &__title {
                font-family: $ff--primary;
                font-size: $fs--large;
                font-weight: $fw--regular;
                color: $clr--primary;

                padding: 0.5rem 1rem;
            }
            
            &__description {
                font-family: $ff--primary;
                font-size: $fs--small;
                font-weight: $fw--regular;
                color: $clr--secondary;
                
                padding: 0.5rem 1rem;
            }

            &__button {
                width: 25%;
                padding: 0.5rem 1rem;
                text-decoration: none;

                &:hover {
                    padding-top: 0.3rem;
                    padding-bottom: 0.7rem;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}
