@import "src/styles.scss";

@media only screen and (max-width: 1024px) {
  .projects__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;

    &__chip {
        margin: 1rem 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            color: $clr-accent--primary;
        }

        h2 {
            font-family: $ff--primary;
            font-size: $fs--extra-large;
            font-weight: $fw--regular;
            color: $clr--primary;

            margin-bottom: 2rem;
        }

        p {
            font-family: $ff--primary;
            font-size: $fs--medium;
            line-height: $lh--medium;
            font-weight: $fw--regular;
            color: $clr--secondary;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 1rem 0;

        &__project {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            background: $clr-background--dark;

            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            border: $bw--thin solid $clr--secondary;
            border-radius: $br--wide;
            transition: all 0.2s ease-in-out;
            overflow: hidden;

            &:hover {
                border: $bw--thin solid $clr-accent--secondary;
            }

            &__image {
                width: 100%;
            }

            &__title {
                font-family: $ff--primary;
                font-size: $fs--large;
                font-weight: $fw--bold;
                color: $clr--primary;

                padding: 0.5rem 1rem;
            }

            &__description {
                font-family: $ff--primary;
                font-size: $fs--medium;
                font-weight: $fw--regular;
                color: $clr--secondary;

                padding: 0.5rem 1rem;
            }

            &__technologies {
                font-family: $ff--primary;
                font-size: $fs--small;
                font-weight: $fw--regular;
                color: $clr--secondary;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                align-items: center;

                padding: 0.5rem 1rem;

                &__tech {
                  color: $clr-background--dark;
                  display: inline-block;
                  border: $bw--thin solid $clr-accent--secondary;
                  border-radius: $br--small;
                  padding: 0.2rem 0.5rem;
                  background: $clr-accent--secondary;
                }
            }

            &__button {
                margin: auto;
                width: 50%;
                padding: 0.5rem 1rem;
                text-decoration: none;

                &:hover {
                    padding-top: 0.3rem;
                    padding-bottom: 0.7rem;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}
