<div class="projects">
    <div class="projects__chip">
        <app-chip [icon]="icon" [content]="'Projects'"></app-chip>
    </div>
    <div class="projects__content">
        <h2>My <span>Projects</span>.</h2>
        <p>You can find here the different projects I have worked on before.</p>
    </div>
    <div class="projects__list" *ngFor="let project of projects">
        <div class="projects__list__project">
            <img class="projects__list__project__image" src="{{ project.image }}">
            <div class="projects__list__project__title">
                {{ project.title }}
            </div>
            <div class="projects__list__project__description">
                {{ project.description }}
            </div>
            <a routerLink="/projects/{{project.id}}" class="projects__list__project__button">
                <app-button [content]="'Read More'"></app-button>
            </a>
        </div>
    </div>
</div>