<div class="content">
    <div id="introduction" class="content__introduction">
        <app-introduction></app-introduction>
    </div>
    
    <div class="spacing"></div>
    <div id="resume" class="content__resume">
        <app-resume></app-resume>
    </div>
    
    <div class="spacing"></div>
    <div id="education" class="content__education">
        <app-education></app-education>
    </div>
    
    <div class="spacing"></div>
    <div id="specializations" class="content__specializations">
        <app-specializations></app-specializations>
    </div>
    
    <div class="spacing"></div>
    <div id="skills" class="content__skills">
        <app-skills></app-skills>
    </div>
    
    <div class="spacing"></div>
    <div id="projects" class="content__projects">
        <app-projects></app-projects>
    </div>
    
    <div class="spacing"></div>
    <div id="contact" class="content__contact">
        <app-contact></app-contact>
    </div>
</div>