<div class="content-container">
    <div class="content-container__content">
        <div id="introduction" class="content-container__content__introduction">
            <app-introduction></app-introduction>
        </div>
        <div class="spacing"></div>
        <div id="resume" class="content-container__content__resume">
            <app-resume></app-resume>
        </div>
        
        <div class="spacing"></div>
        <div id="education" class="content-container__content__education">
            <app-education></app-education>
        </div>

        <!-- <div class="spacing"></div>
        <div id="specializations" class="content-container__content__specializations">
            <app-specializations></app-specializations>
        </div> -->
        
        <div class="spacing"></div>
        <div id="skills" class="content-container__content__skills">
            <app-skills></app-skills>
        </div>
        
        <div class="spacing"></div>
        <div id="projects" class="content-container__content__projects">
            <app-projects></app-projects>
        </div>
        
        <div class="spacing"></div>
        <div id="contact" class="content-container__content__contact">
            <app-contact></app-contact>
        </div>
    </div>
    <div class="content-container__navigation">
        <div class="content-container__navigation__navigation-sidebar">
            <div (click)="scrollToSection(link.sectionRef)" class="content-container__navigation__navigation-sidebar__link" *ngFor="let link of links">
                <a routerLinkActive="active">
                    <img class="content-container__navigation__navigation-sidebar__link__icon" src="{{ link.icon }} ">
                </a>
            </div>
        </div>
    </div>
</div>
