<div class="content">
    <div class="content__introduction">
        <app-introduction></app-introduction>
    </div>
    <div class="content__resume">
        <app-resume></app-resume>
    </div>
    <div class="content__specializations">
        <app-specializations></app-specializations>
    </div>
    <div class="content__skills">
        <app-skills></app-skills>
    </div>
    <div class="content__projects">
        <app-projects></app-projects>
    </div>
    <div class="content__contact">
        <app-contact></app-contact>
    </div>
</div>