@import "src/styles.scss";

.info-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;

  background: $clr-background--secondary;
  border: $bw--thinnest solid $clr--secondary;
  border-radius: $br--wide;

  &__header {
    padding: 0 2rem;
  }

  &__image {
    padding: 0 2rem;

    img {
      width: 100%;
      border-radius: $br--wide;
      background-size: cover;
      background-position: center;
    }
  }

  &__bio {
    padding: 0 2rem;

    p {
      font-family: $ff--primary;
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }

  &__links {
    padding: 0 2rem;
  }

  &__button {
    padding: 1.4rem 2rem;

    &:hover {
      padding-top: 1.1rem;
      padding-bottom: 1.7rem;
      transition: all 0.3s ease-in-out;
    }
  }
}

.spacing {
  padding: 0.7rem 0;
}