@import "src/styles.scss";

.individual-skill {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: $bw--thin solid transparent;
    // I want the border to be like a pill shape on top and bottom
    border-radius: $br--wide;

    background: $clr-background--secondary;
    // Add a shadow
    box-shadow: 0 0 0.5rem $clr--dark;

    &:hover {
        cursor: pointer;
        border: $bw--thin solid $clr-accent--primary;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: all 0.2s ease-in-out;
    }

    img {
        width: 60px;
        aspect-ratio: 1/1;
        // border-radius: $br--wide;
        // margin-bottom: 0.5rem;
    }

    h3 {
        font-family: $ff--mono;
        font-size: $fs--small;
        // Capitalize the first letter of each word
        text-transform: capitalize;
    }
}