@import "src/styles.scss";

.chip {
    display: inline-block;
    padding: 1% 1%;

    background: rgba(189, 189, 189, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    color: $clr--primary;

    border: $bw--thin solid $clr--secondary;
    border-radius: $br--small;

    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $clr-background--secondary
    }

    fa-icon {
        padding: 0 5px;
        font-size: $fs--small;
        text-align: center;
    }

    span {
        padding: 0 5px;
        font-family: $ff--mono;
        font-size: $fs--extra-small;
        line-height: $fs--medium;
        text-align: center;
    }
}
