<div class="introduction">
    <div class="introduction__chip">
        <app-chip [icon]="icon" [content]="'Introduction'"></app-chip>
    </div>
    <div class="introduction__content">
        <h2>Hi, <span>Fikernew</span> here, Web Developer and Software Engineer</h2>
        <p>I am a full-stack web developer and Software Engineering Student at AAiT. I specialize in javascript and python technologies and frameworks.</p>
    </div>
    <div class="introduction__visuals">
        <div class="introduction__visuals__container">
            <div class="introduction__visuals__container__stats">
                <div class="introduction__visuals__container__stats__stat">
                    <p class="introduction__visuals__container__stats__stat__number">3+</p>
                    <p class="introduction__visuals__container__stats__stat__label">Years</p>
                </div>
                <div class="introduction__visuals__container__stats__stat">
                    <p class="introduction__visuals__container__stats__stat__number">20+</p>
                    <p class="introduction__visuals__container__stats__stat__label">Projects</p>
                </div>
            </div>
            <div class="introduction__visuals__container__projects">
                <p>This is some text.</p>
            </div>
        </div>
    </div>
</div>