<div class="introduction">
    <div class="introduction__chip">
        <app-chip [icon]="icon" [content]="'Introduction'"></app-chip>
    </div>
    <div class="introduction__content">
        <h2>Hi, <span>Fikernew</span> here, Web Developer and Software Engineer</h2>
        <p>As a full-stack web developer and Software Engineering student at AAiT, I have honed my skills in JavaScript and Python technologies and frameworks. Here, you will find everything about me and my passion for creating innovative solutions. Explore my projects, delve into my expertise, and get to know the mind behind the code.
        </p>
    </div>
    <div class="introduction__visuals">
        <div class="introductionn__visuals__animation">
            <a class="introduction__visuals__animation__circle" href="https://drive.google.com/file/d/17gc3kCgATKnaiUU3uVbn-lDGeTZfLsww/view?usp=drive_link">
                <img src="assets/icons/miscicons/arrow-down-o.svg" width="50" height="50">
                <svg id="rotatingText" viewBox="0 0 200 200" width="200" height="200">
                    <defs>
                        <path id="circle" d="M 100, 100
                    m -75, 0
                    a 75, 75 0 1, 0 150, 0
                    a 75, 75 0 1, 0 -150, 0
                    ">
                        </path>
                    </defs>
                    <text width="400">
                        <textPath alignment-baseline="top" xlink:href="#circle" class="text">
                            - Get my resume -
                        </textPath>
                    </text>
                </svg>
            </a>
        </div>
        <div class="introduction__visuals__stats">
            <div class="introduction__visuals__stats__stat">
                <p class="introduction__visuals__stats__stat__number">3+</p>
                <p class="introduction__visuals__stats__stat__label">Years</p>
            </div>
            <div class="introduction__visuals__stats__stat">
                <p class="introduction__visuals__stats__stat__number">20+</p>
                <p class="introduction__visuals__stats__stat__label">Projects</p>
            </div>
        </div>
    </div>
</div>
