<div class="introduction">
    <div class="introduction__chip">
        <app-chip [icon]="icon" [content]="'Introduction'"></app-chip>
    </div>
    <div class="introduction__content">
        <h2>Hi, <span>Fikernew</span> here, Web Developer and Software Engineer</h2>
        <p>I am a full-stack web developer and Software Engineering Student at
            AAiT. I specialize in javascript and
            python technologies and frameworks.</p>
    </div>
    <div class="introduction__visuals">
        <div class="introductionn__visuals__animation">
            <div class="introduction__visuals__animation__circle">
                <img src="https://www.kirupa.com/icon/1f354.svg" width="50" height="50">
                <svg id="rotatingText" viewBox="0 0 200 200" width="200" height="200">
                    <defs>
                        <path id="circle" d="M 100, 100
                    m -75, 0
                    a 75, 75 0 1, 0 150, 0
                    a 75, 75 0 1, 0 -150, 0
                    ">
                        </path>
                    </defs>
                    <text width="400">
                        <textPath alignment-baseline="top" xlink:href="#circle" class="text">
                            My Resume - My Resume -
                        </textPath>
                    </text>
                </svg>
            </div>
        </div>
        <div class="introduction__visuals__stats">
            <div class="introduction__visuals__stats__stat">
                <p class="introduction__visuals__stats__stat__number">3+</p>
                <p class="introduction__visuals__stats__stat__label">Years</p>
            </div>
            <div class="introduction__visuals__stats__stat">
                <p class="introduction__visuals__stats__stat__number">20+</p>
                <p class="introduction__visuals__stats__stat__label">Projects</p>
            </div>
        </div>
    </div>
</div>