@import "src/styles.scss";

.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__chip {
        margin: 0 0 1rem 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            color: $clr-accent--primary;
        }

        h2 {
            font-family: $ff--primary;
            font-size: $fs--extra-extra-large;
            font-weight: $fw--regular;
            color: $clr--primary;

            margin-bottom: 2rem;
        }

        p {
            font-family: $ff--primary;
            font-size: $fs--medium;
            line-height: $lh--medium;
            font-weight: $fw--regular;
            color: $clr--secondary;
        }
    }

    &__visuals {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // align-items: center;

        &__animation {
            display: grid;

            &__circle {
                display: grid;
                align-items: center;
                justify-items: right;

                .text {
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    font-family: $ff--mono;
                    font-size: $fs--large;
                    font-weight: $fw--regular;
                    fill: $clr--primary;
                    // text-shadow: 2px 0px #ccc;
                }

                #rotatingText {
                    animation-name: rotate-circle;
                    animation-duration: 10s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

                @keyframes rotate-circle {
                    to {
                        transform: rotate(1turn);
                    }
                }

                img {
                    position: relative;
                    right: 4.5rem;
                    top: 7.8rem;
                }
            }
        }

        &__stats {
            padding: 2rem 0;
            display: flex;
            flex-direction: row;
            // justify-content: center;
            align-items: space-between;

            &__stat {
                padding-right: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // align-items: center;
                font-family: $ff--primary;

                &__number {
                    font-size: $fs--extra-extra-large;
                    font-weight: $fw--regular;
                    color: $clr-accent--primary;
                }

                &__label {
                    font-size: $fs--medium;
                    font-weight: $fw--bold;
                    color: $clr--primary;
                }
            }
        }
    }
}