@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&family=Lora:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');

// Colors
$clr--primary: #fcfcfc;
$clr--secondary: #d4d4d4;
$clr-accent--primary: #2ae98b;
$clr-accent--secondary: #3ed18a;
$clr-background--primary: #1f1f21;
$clr-background--secondary: #19191b;

// Fonts
$ff--primary: 'Poppins', sans-serif;
$ff--secondary: 'Lora', serif;
$ff--mono: 'Fira Code', monospace;

// Font Weights
$fw--regular: 400;
$fw--semi-bold: 600;
$fw--bold: 700;

// Font Sizes
$fs--small: 1rem;
$fs--medium: 1.6rem;
$fs--large: 2rem;
$fs--extra-large: 2.5rem;

// Border Width
$bw--thin: 1px;
$bw--thick: 2px;


// Reset Styling for all HTML and CSS
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}
