<div class="skills">
    <div class="skills__chip">
        <app-chip [icon]="icon" [content]="'Skills'"></app-chip>
    </div>
    <div class="skills__content">
        <h2>My <span>Skills</span>.</h2>
        <p>
            This section presents a comprehensive overview of my proficiency in various areas, including technical skills, programming languages, tools, and soft skills. It provides a concise summary of my capabilities and expertise.
        </p>
    </div>
    <div class="skills__list">
        <div class="skills__list__skill" *ngFor="let skill of skills">
            <app-skill [skill]="skill"></app-skill>
        </div>
    </div>
</div>
