<div class="project-page">
  <section class="project-page__header">
    <nav class="project-page__header__navbar">
      <div class="project-page__header__navbar__logo">Fikernew Birhanu</div>
      <div class="project-page__header__navbar__list">
        <ul class="project-page__header__navbar__list__options">
          <li class="project-page__header__navbar__list__options__items">Home</li>
          <li class="project-page__header__navbar__list__options__items">Project Home</li>
        </ul>
      </div>

      <div>Home</div>
    </nav>
  </section>
  <section class="project-page__body">
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, perferendis cum explicabo quis minima sint tempore cumque ipsum dolorum, officia enim qui, voluptatem eos eaque aliquam! Quaerat obcaecati quo tenetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur et maiores minus? Sint voluptates architecto accusantium nam praesentium laboriosam nisi nihil. Facilis officia perspiciatis quis cum in praesentium, eius sapiente.</div>
  </section>
  <section class="project-page__footer">
    <div>Footer</div>
  </section>
</div>
